header{
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	background-color: #eee;
}
header:after {
	display: block;
	content: "";
	clear: both;
}
h1 {
	display: inline-block;
}
button {
	padding: 10px;
	border: 0;
	color: #fff;
	background-color: #333;
	border-radius: 0 10px 10px 0;
	border: 1px solid #333;
}
.basket ul {
	padding: 0;
	margin-top: 40px;
}
.basket li {
	display: inline-block;
	list-style-type: none;
	width: 30%;
	margin: 30px 1.5%;
	text-align: center;
}
.basket button {
	border-radius: 10px;
	cursor: pointer;
}
.basket header div {
	float: right;
	position: relative;
	z-index: 1;
}
.basket header li {
	float: left;
}

/* */

.zoom {
	position: absolute;
	top: 40px;
	right: 50%;
	width: 50px;
	/*opacity: 0;*/
	animation: zoom 1.5s ease forwards;
}
@keyframes zoom {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; right: 40px;}
}
